<!DOCTYPE html>
<html lang="en" lang="en>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A new world</title>
    <style>
        .container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            grid-gap: 10px;
            padding: 20px;
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <form method="POST">
        <label for="docker_image">Docker Image</label>
        <br>
        <input type="text" id="docker_image" name="docker_image"
               placeholder="Add the Docker image"
               value="{{ request.form['docker_image'] }}"></input>
        <br>

        <label for="docker_command">Docker Command</label>
        <br>
        <textarea id="docker_command" name="command"
                  placeholder="Docker command to execute"
                  rows="15"
                  cols="15"
                  >{{ request.form['command'] }}</textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>